.team-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}
.sub-heading{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.associated-h{
  margin-top: 2rem;
}
.text-blk {
  line-height: 25px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.responsive-container-block {
  /* min-height: 75px; */
  /* height: fit-content; */
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.inner-container {
  /* max-width: 1320px; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.section-head-text {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-left: 0px;
}

.section-subhead-text {
  color: rgb(72, 72, 72);
  font-size: 20px;
  line-height: 27px;
  max-width: 670px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.card {
  width: 20vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  box-shadow: rgba(134, 134, 134, 0.16) 0px 6px 24px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin: 4px;
}

.img-wrapper {
  width: 175px;
  height: 175px;
  clip-path: circle(50% at 50% 50%);
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  line-height: 27px;
}

.position {
  line-height: 26px;
  color: rgb(0, 166, 127);
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.testimonial {
  color: rgb(122, 122, 122);
  font-size: 18px;
  line-height: 26px;
}

.outer-container {
  background-color: rgb(250, 250, 250);
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
}

.container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.swiper.team-swiper {
  /* max-width: 100%;
  width: 100%;
  height: fit-content; */
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  display: flex;
  justify-content: flex-start;
  height: auto;
}

.swiper-pagination.container-block {
  position: relative;
  top: 0px;
  margin-top: 36px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.swiper-container-horizontal &gt;

.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  height: 12px;
  width: 12px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(0, 166, 127);
}

.swiper-wrapper {
  position: relative;
  top: 0px;
}

@media (max-width: 1024px) {
  .swiper-slide {
    justify-content: center;
  }
}

@media(max-width:980px){
  .team-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .card {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin: 4px;
  }
  
}

@media (max-width: 500px) {
  .outer-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}
